* {
    box-sizing: border-box;
    text-decoration: none;
    outline: none !important;
}

body {
    width: 100%;
    height: 100vh;
    font-family: sans-serif;
    line-height: 1.618em;
    background: #fff;
    color: #424242;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: .75em 0 .5em;
    line-height: 1.25em;
}

h1 {
    font-size: 2.65em;
}

h2 {
    font-size: 2.4em;
}

h3 {
    font-size: 2.15em;
}

h4 {
    font-size: 1.9em;
}

h5 {
    font-size: 1.65em;
}

h6 {
    font-size: 1.4em;
}

hr {
    height: 1px;
    margin: 1.75em 0;
    border: 0;
    background: #ccc;
}

img {
    max-width: 100%;
}

code {
    white-space: normal;
}

textarea#wysiwyg {
    resize: none;
    outline: none;
    font-family: monospace;
}

textarea#markdown {
    resize: none;
    outline: none;
    background-color: #eee;
    font-family: monospace;
}

div#html *:first-child {
    margin-top: 0;
}

.configs {
    position: fixed;
    z-index: 1000;
    right: 15px;
    bottom: 15px;
    width: 300px;
}

.configs .input-group {
    width: 290px;
}

.dropdown-menu .input-group {
    width: 260px;
}